.notify-badge{
    position: absolute;
    background: rgb(0, 0, 2);
    height:1.5rem;
    width:3rem;
    top:0.2rem;
    right:1rem;
    text-align: center;
    line-height: 1.5rem;;
    font-size: 1rem;
    border-radius: 15%;
    color:white;

}